.error-popup {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffeaea;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    visibility: hidden;
  }
  
.error-popup.show {
    opacity: 1;
    visibility: visible;
}

.custom-descriptions {
    border: none;
    padding: 0;
    background-color: transparent;
}

.custom-descriptions .ant-descriptions-row > td {
    padding-bottom: 8px;
    border-bottom: 1px solid #f0f0f0;
}

.custom-descriptions .ant-descriptions-item-label {
    color: #8c8c8c;
    font-size: 13px;
    border: solid 1px #f0f0f0;
    padding: 4px;
    border-radius: 4px;
}

.custom-descriptions .ant-descriptions-item-content {
    font-weight: 500;
    font-size: 14px;
}

.custom-descriptions .ant-descriptions-view {
    border: none;
}

.custom-descriptions .ant-descriptions-row:last-child > td {
    border-bottom: none;
}